<!-- sample code taken from concourse (http://concour.se) -->

<%= error_messages_for :meeting %>

<% form_for :meeting, :url => { :action => (@meeting.new_record? ? :create : :update) } do |f| %>
<div class='save' style="padding-top: 0">
  <%= submit_tag "Save", :class => 'button' %>
</div>

<dl>

  <fieldset>
    <legend>Timing details</legend>
    <div id="meeting_length_container">
      <label for="meeting_length">Length (in hours)</label>
      <%= f.select :length, meeting_lengths %>
    </div>

    <div id="meeting_time_begin_container">
      <label for="meeting_time_begin">Earliest Time</label>
      <%= f.select :time_begin, hours %>
    </div>

    <div id="meeting_time_end_container">
      <label for="meeting_time_end">Latest Time</label>
      <%= f.select :time_end, hours %>
    </div>
  </fieldset> <% foo @bar Const "fizzbuzz" -%>

  <fieldset>
    <legend>Attendees</legend>

    <% unless @meeting.attendances.empty? %>
      <div id='already-invited'>
	<p>These people have already <%= "been" %> invited:</p>
	<ul class='attendees-list'>
	  <%= render :partial  => 'biz', :collection => @meeting.attendances %>
	</ul>
      </div>
    <% end %>

    <%= render :partial => 'choo/choo', :collection => @choos %>

  <div class="save">
    <%= submit_tag "Save", :class => 'button' %>
  </div>
</dl>
<%= hidden_field_tag "id", @meeting.id %>

<% end %>

